body{
font-family: Arial;
margin:0;
}

.banner{
height:200px;
background-image:url("nen.jpg");
background-size:cover;
display:flex;
align-items:center;
justify-content:center;
}

.banner-text{
text-align:center;
color:white;
}

.slogan{
font-size:20px;
}

.menu ul{
list-style:none;
display:flex;
justify-content:center;
background:#333;
padding:10px;
margin:0;
}

.menu a{
color:white;
text-decoration:none;
padding:10px 20px;
}

.product{
display:flex;
padding:30px;
border-bottom:1px solid #ccc;
}

.product-text{
width:50%;
padding-right:20px;
}

.product-img{
width:50%;
}

.product-img img{
width:50%;
display:block;
margin:auto;
}
footer{
background:#333;
color:white;
text-align:center;
padding:20px;
}